.logo {
    width: 100%;
}

body {
    color: white;
    background: #3A3A3A;
}

.font {
    font-family: "Titillium Web";
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0px;
    font-style: normal;
}